@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2rau98');
  src:  url('fonts/icomoon.eot?2rau98#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2rau98') format('truetype'),
    url('fonts/icomoon.woff?2rau98') format('woff'),
    url('fonts/icomoon.svg?2rau98#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boxes:before {
  content: "\e900";
}
.icon-boxes-fill:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e902";
}
.icon-factory:before {
  content: "\e903";
}
.icon-hello:before {
  content: "\e904";
}
.icon-hello-fill:before {
  content: "\e905";
}
.icon-help-fill:before {
  content: "\e906";
}
.icon-lifebuoy:before {
  content: "\e907";
}
.icon-lists:before {
  content: "\e908";
}
.icon-month:before {
  content: "\e909";
}
.icon-new:before {
  content: "\e90a";
}
.icon-newspaper:before {
  content: "\e90b";
}
.icon-other:before {
  content: "\e90c";
}
.icon-people:before {
  content: "\e90d";
}
.icon-people-fill:before {
  content: "\e90e";
}
.icon-rocket:before {
  content: "\e90f";
}
.icon-rocket-fill:before {
  content: "\e910";
}
.icon-run:before {
  content: "\e911";
}
.icon-service:before {
  content: "\e912";
}
.icon-shop:before {
  content: "\e913";
}
.icon-shop-fill:before {
  content: "\e914";
}
.icon-trolley:before {
  content: "\e915";
}
.icon-week:before {
  content: "\e916";
}
