@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.footer {
  margin-top: 0px;
  padding: 120px 0 0;
  overflow: hidden;
  text-align: left !important;
}

.footer ul li {
  list-style: none;
}
.footer ul li a {
  line-height: 1.4em;
}
@media (min-width: 1200px) {
  .footer .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
@media (max-width: 1200px) {
  .footer {
    margin-top: 80px;
    padding: 80px 0 0;
  }
}
.footer__bottom {
  margin-top: 40px;
  background: #001924;
  padding: 20px 0;
  position: relative;
  z-index: 20;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.nav-footer {
  position: relative;
  z-index: 20;
}
.nav-footer__title {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .nav-footer__title {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .nav-footer__title {
    font-size: 20px;
  }
}
.nav-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 0 0 0 10px;
}
.nav-footer__link {
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;
}
@media (max-width: 1400px) {
  .nav-footer__link {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .nav-footer__link {
    font-size: 16px;
  }
}
.nav-footer__link::after {
  background-color: #FFFFFF;
}
.nav-footer__link i {
  font-size: 12px;
  position: relative;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: -1px;
}
.nav-footer__link:hover {
  color: #0098D6;
}
.nav-footer__link:hover i {
  color: #0098D6;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.nav-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.nav-soc__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-soc__link::after {
  display: none;
}
.nav-soc__link i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: rgba(255, 255, 255, 0.5);
}
.nav-soc__link:hover {
  border-color: #FFFFFF;
}
.nav-soc__link:hover i {
  color: #FFFFFF;
}

.dark-bg {
  background: #373737;
  background: -webkit-gradient(linear, right top, left top, from(#00070a), to(#003d57));
  background: linear-gradient(to left, #00070a, #003d57);
  width: 100%;
  height: 100%;
  position: relative;
}
.dark-bg__circles {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
}
.dark-bg__circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 1;
}
.dark-bg__circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.dark-bg__circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}
.dark-bg__circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.dark-bg__circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}
.dark-bg__circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.dark-bg__circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.dark-bg__circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.dark-bg__circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 45s;
  animation-duration: 45s;
}
.dark-bg__circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
}
.dark-bg__circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
._reverse-x {
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

._reverse-y {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}

._reverse-xy {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

._bold {
  font-weight: 600;
}

.section-rateit {
  margin-top: 40px;
  padding: 40px 0;
  background: #EFFAFF;
}
.section-rateit__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}