.modal {
    display: none;
    border-radius: 15px;
    padding: 60px;
    width: 100%;
    height: auto;
    max-width: 800px;
}
@media (max-width: 768px) {
    .modal {
        padding: 40px;
    }
}
@media (max-width: 576px) {
    .modal {
        padding: 40px 20px;
    }
}
.modal_sm {
    max-width: 500px;
}
.modal_menu {
    padding: 0;
}
.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #92d2ec;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.modal__close:focus-visible {
    outline: none;
}
.modal__close i {
    font-size: 20px;
    color: #FFFFFF;
}
.modal__close:hover {
    background: #0098D6;
}
.modal__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 40px;
}
@media (max-width: 1320px) {
    .modal__title {
        font-size: calc(18px + 6 * ((100vw - 360px) / 960));
    }
}
.modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}
.modal__form button {
    width: 100%;
}

.fancybox__backdrop {
    background: rgba(0, 0, 0, 0.8);
}

html.with-fancybox body.hide-scrollbar .header {
    width: auto;
    margin-right: calc(var(--fancybox-body-margin, 0px) + var(--fancybox-scrollbar-compensate, 0px));
    overflow: hidden !important;
    overscroll-behavior-y: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

input:focus-visible {
    outline: none;
}
input::-webkit-input-placeholder {
    color: #7B7B7B;
}
input::-moz-placeholder {
    color: #7B7B7B;
}
input:-ms-input-placeholder {
    color: #7B7B7B;
}
input::-ms-input-placeholder {
    color: #7B7B7B;
}
input::placeholder {
    color: #7B7B7B;
}
@media (max-width: 1400px) {
    input {
        font-size: 14px;
    }
}

.input {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 12px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.input__label {
    display: block;
    font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    color: #7B7B7B;
    margin-bottom: 12px;
    width: 100%;
}
.input input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.input input:disabled {
    background: #D6F3FF;
    cursor: not-allowed;
}
.input input[type=text],
.input input[type=email],
.input input[type=number],
.input input[type=password],
.input input[type=tel] {
    max-width: 100%;
    height: 50px;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #373737;
}
.input input[type=text]:focus-visible,
.input input[type=email]:focus-visible,
.input input[type=number]:focus-visible,
.input input[type=password]:focus-visible,
.input input[type=tel]:focus-visible {
    border-color: transparent;
    outline: 1px solid #0098D6;
}
.input textarea {
    max-width: 100%;
    width: 100%;
    border: 1px solid #0098D6;
    border-radius: 5px;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
    min-height: 100px;
    color: #373737;
}
.input textarea:focus-visible {
    outline: 1px solid #0098D6;
}

.input-checkbox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    gap: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.input-checkbox__checkmark {
    height: 24px;
    width: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #D6F3FF;
    border-radius: 5px;
}
.input-checkbox__checkmark:after {
    content: "\f00c";
    font-family: "Font Awesome 6 Pro";
    font-size: 12px;
    font-weight: 600;
    color: transparent;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.input-checkbox__name {
    white-space: nowrap;
    line-height: 1em;
}
.input-checkbox:hover input ~ .input-checkbox__checkmark {
    border-color: #0098D6;
}
.input-checkbox input:checked ~ .input-checkbox__checkmark {
    background: #0098D6;
    border-color: #0098D6;
}
.input-checkbox input:checked ~ .input-checkbox__checkmark:after {
    color: #FFFFFF;
}

.btn {
    max-width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background: #0098D6;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 30px;
    line-height: 1em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.btn:focus {
    outline: none;
    color: #FFFFFF;
}
@media (max-width: 1200px) {
    .btn {
        height: 40px;
    }
}
.btn__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1em;
    white-space: nowrap;
}
.btn i {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn i.fa-whatsapp {
    font-size: 24px;
    color: #28D168;
}
.btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0074a3;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: -1;
}
.btn:hover, .btn:active {
    color: #FFFFFF !important;
    background: #0098D6;
}
.btn:hover::after, .btn:active::after {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.btn_sm {
    padding: 0 15px;
    gap: 5px;
    height: 30px;
    font-size: 12px;
    width: auto;
    font-weight: 600;
}
.btn_accent {
    background: #FF5F76;
    height: 60px;
}
.btn_accent::after {
    background-color: #ff2c4a;
}
.btn_accent:hover, .btn_accent:active {
    background: #FF5F76;
}
@media (max-width: 1200px) {
    .btn_accent {
        height: 50px;
    }
}
.btn_alt {
    color: #373737;
    background: #FFFFFF;
    border: 1px solid #0098D6;
}
.btn_alt::after {
    background-color: #d6f3ff;
}
.btn_alt:hover, .btn_alt:active {
    border: 1px solid #0098D6;
    color: #373737 !important;
    background: #FFFFFF;
}
.btn_alt:hover::after, .btn_alt:active::after {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}
.btn_whatsapp {
    border: none;
    padding: 0 !important;
    border-radius: unset;
    background: none;
    color: #7B7B7B;
    font-weight: 500;
    height: auto;
}
.btn_whatsapp::after {
    display: none;
}
.btn_whatsapp:hover, .btn_whatsapp:active {
    border: none;
    background: none;
    color: #373737 !important;
}

button {
    border: none;
}
