

/*******************************************************************************
		-	BULLETS AND ARROWS ADD ONS TO THE EXISTING VERSION 	-
*******************************************************************************/

.tp-bannertimer {
    background:#777 !important;
    background:rgba(0,0,0,0.1) !important;
    height:5px !important;
  }



.tp-bullets.simplebullets.navbar {

    height: 35px;
    padding: 0px 0px;

}
.tp-bullets.simplebullets .bullet {
    cursor: pointer;
    position: relative !important;
    background: #ffffff!important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 10px !important;
    height: 10px !important;
    box-shadow: inset 0 2px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #ebebeb!important;
    display: inline-block;
    margin-right: 2px !important;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    float:none !important;
}
.tp-bullets.simplebullets .bullet.last {
    margin-right: 0px
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	background: rgba(0, 0, 0, 1) !important;
	width: 10px !important;
    height: 10px !important;
}



.tparrows:before {
    font-family: 'revicons';
	color: #fff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    text-align: center;
    width: 18px;
    font-size: 13px;
    margin-top: 1px!important;
    vertical-align: top;
}
.tparrows {

    cursor: pointer;

    
    
    border-radius: 10px;
    width: 21px !important;
    height: 21px !important;
transition: ease 0.3s;
}
.tparrows:hover {
    color: #fff;
}
.tp-leftarrow:before {
    content: '\e824';
}
.tp-rightarrow:before {
    content: '\e825';
}
.tparrows.tp-rightarrow:before {
    margin-left: 1px;
}
.tparrows:hover {
    background: rgba(255, 255, 255, 0.28) !important;
    transition: ease 0.3s;
}



/******************************
	-	SLIDER NAV STYLE DEMOS	-
********************************/

#slider4container .tparrows:before,
#slider4container .tparrows:hover,
#slider4container .tparrows {
    color: #000 !important;
}

#slider4container .tparrows {
	background:#fff !important;
	background:rgba(255,255,255,0.5) !important;
}

#slider4container .tparrows:hover	{
	background:#fff !important
}